.student-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.student-list h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.filter-container label {
    font-size: 1rem;
    color: #555;
}

.filter-container select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    flex-grow: 1; 
    max-width: 300px;
}

.filter-container select:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

.filter-container select:hover {
    background-color: #f1f1f1;
}

.table-container {
    overflow: auto; 
    width: 100%;
}

.student-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.student-list table thead {
    background-color: #007bff;
    color: white;
}

.student-list table th,
.student-list table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.student-list table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.student-list table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.student-list table tbody tr:hover{
    background-color: #007bff;
    color: white;
}

.student-list .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.student-list .actions button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.student-list .actions button:hover {
    background-color: #0010b3;
}

.deletebtn {
    border: none;
    color: red;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
}

.editbtn {
    border: none;
    color: green;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
}

.deletebtn:hover {
    background-color: #ff0000;
    color: white;
}

.editbtn:hover {
    background-color: green;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .student-list {
        padding: 15px;
    }

    .student-list h2 {
        font-size: 1.5rem;
    }

    .student-list table th,
    .student-list table td {
        font-size: 0.8rem;
        padding: 8px;
    }
    .student-list table th:nth-child(4), .student-list table td:nth-child(4){
        display: none;
    }

    .student-list .actions button {
        font-size: 0.9rem;
        padding: 8px;
    }

    .filter-container {
        gap: 40px;
    }
}
