.teacher-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher-list h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.teacher-list ul {
    list-style-type: none;
    padding: 0;
}

.teacher-list li {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #555;
    font-weight: bold;
}

.teacher-list li span {
    color: #007bff;
    margin: 0px 10px;
    float: right;
}
#header{
    background-color: #007bff;
    color: white;
}
#header > span{
    color: white;
}

.teacher-list li:hover  {
    background:#0aa5e7;
    color: white;
}
.teacher-list li:hover span{
    color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    .teacher-list {
        padding: 15px;
    }

    .teacher-list h2 {
        font-size: 1.5rem;
    }

    .teacher-list li {
        font-size: 0.9rem;
    }
}
