.addadmin-container {
    padding: 20px;
    background-color: #fffefe;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 2px 8px 10px rgba(252, 240, 3, 0.1);
  }
  
  .addadmin-container h2 {
    margin-bottom: 15px;
  }
  
  .addadmin-container form {
    display: flex;
    flex-direction: column;
  }
  
  .addadmin-container label {
    font-size: 14px;
    font-weight: bold;
  }
  
  .addadmin-container input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .addadmin-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
  }
  
  .addadmin-container button:hover {
    background-color: #0056b3;
  }
  

  @media (max-width:768px) {
    .addadmin-container{
      width: 80%;
    }
  }