/* Navbar Styles */
.navbar {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.navbar-links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style-type: none;
    padding: 4px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight:bold;
    transition:  0.3s all ease-in-out;
    padding: 2px;
}

.navbar-links a:hover {
    box-shadow: 3px 3px 15px rgba(238, 239, 237, 0.9);
    border-radius: 5px;
}

/* Hamburger Icon */
.navbar-toggle {
    display: none;
    cursor: pointer;
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .navbar-links {
        position: absolute;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #007bff;
        top: -1000px;
        left: 0;
        transition: top 0.5s  ease-in-out;
        width: 100%;
    }

    .navbar-links.active {
        top: 59px;
    }



    /* Show the hamburger icon on small screens */
    .navbar-toggle {
        display: flex;
        position: absolute;
        right: 10px;
    }
}
