.admin-panel {
  font-family: Arial, sans-serif;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #333;
  color: white;
}

.admin-header nav button {
  margin: 0 5px;
  padding: 10px 20px;
  background: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-header nav button:hover {
  background-color: #007bff;
}

.admin-header nav button.active {
  background: #007bff;
}
.admin-header nav button:nth-child(6) {
  background-color: red;
}
main {
  padding: 20px;
}

.manageadmin-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manageadmin-container h1 {
  text-align: center;
  font-size: 2rem;
}


@media (max-width:768px) {
  .manageadmin-container{
     min-width: 100%;
     padding: 0;
     margin: 0;
  }
  .manageadmin-container h1{
    font-size: 1.5rem;
  }
}